*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
}
.App{
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
    box-shadow: 1px 1px 20px 1px #e3e3e3;
}

.textarea {
    resize: none;
    padding: 10px;
}
.inputType{
    padding: 10px;
}

.textarea:focus-visible, .inputType:focus-visible {
    border-color: transparent;
    outline: 1px solid #e5e7eb;
}

.emoji i,
.emoji .emojiInner:hover~.emojiInner i {
    color: #737373;
    font-size: 20px;
    cursor: pointer;
}

.emoji:hover .emojiInner i {
    color: #fc0;
}

.btn {
    background-color: #316bbf;
    padding: 10px 21px;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
}

.tickIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tickIcons i{
    display: flex;
    align-items: center;
    justify-content: center;
    background: mediumspringgreen;
    width: 50px;
    height: 50px;
    font-size: 21px;
    border-radius: 50%;
}